body {
  background-color: #f2f2f2 !important;
  margin: 0;
  min-height: 100% !important;
}

.fix_bar {
    background-color: #3b8ec2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: #8effee !important;
    margin: 0 0 0 0 !important;
}

.maincontainer {
  margin: 30px 80px 0px 80px !important;
  border-style: solid;
  border-radius: 10px;
  min-height: 500px;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
  border-width: 2px;
}




/* ------------------------------------ */
.LHS {
  margin: 15px 15px 15px 15px;
  width: auto !important;
}

.RHS {
  margin: 15px 15px 15px 30px;
  width: auto !important;
}

.CPW_Image {
    height: 200px;
    padding: 0px;
}

.Trace_CPW_Image {
  height: 85px;
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
}

.heading_top_of_page {
  text-align: center;
  font-size: 25px;
  color: #3b8ec2;
  font-family: 'Trocchi', serif;
  margin-bottom: 10px;
}

.heading_middle_of_page {
  text-align: center;
  font-size: 25px;
  color: #3b8ec2;
  font-family: 'Trocchi', serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.outputboxes {
  font-size: 18px !important;
  font-family: 'Trocchi', serif;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.number_of_layers {
}

.select_layers {
  /*rounded*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /*colour*/
  color: #000000;
  /*dimensions*/
  width: 190px;
  text-align-last: center;
  background-color: #3b8ec2;
}

.layerbox1to9 {
  margin-left: 8px;
  max-width: 30px;
}

.layerbox10 {
  max-width: 30px;
}
