{% extends "IndexCPWNewLayout.html" %}

{% block baseCPW %}
<div class="row maincontainer">

  <div class="LHS col-sm-6">
    <div class="row heading_top_of_page">
      Coplanar Waveguide Transmission line Layout
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="CPW_Image" src="/static/LargeCPWTL.jpg">
      </div>
      <div class="col-sm-6">
        <img class="Trace_CPW_Image" src="/static/CPWTraceImage.png">
      </div>
    </div>
    <div class="row heading_middle_of_page">
      Output Charateristics
    </div>
    <div class="row outputboxes">
      <output type="text">Characteristic Impedance: {{ answer1[1] }}</output>
    </div>
    <div class="row outputboxes">
      <output type="text">Relative effective permittivity: {{ answer1[0] }}</output>
    </div>
  </div>

  <div class="RHS col-sm-6">
    <form id="myform" method="get">

      <div class="row number_of_layers">
        <select class="select_layers" id="select_layers_above" onsubmit="return validateForm()">
          <option>Number of Dielectric Layers</option>
          {% for i in range(1,16) %}
          <option>{{i}}</option>
          {% endfor  %}
        </select>
        {% for i in range(15,0,-1) %}
          {% if i in range(1,10) %}
            <div class="layer_above_input">
            Height {{i}}: <input class="layerbox1to9" type="text" name="layers_heights">
            Eff {{i}}: <input class="layerbox1to9" type="text" name="layers_permittivity">
            <input type="radio" name="conducting_trace_layer" value="{{ i }}">
            </div>
          {% else %}
            <div class="layer_above_input">
            Height {{i}}: <input class="layerbox10" type="text" name="layers_heights">
            Eff {{i}}: <input class="layerbox10" type="text" name="layers_permittivity">
            <input type="radio" name="conducting_trace_layer" value="{{ i }}">
            </div>
          {% endif %}
        {% endfor  %}
      </div>

    </form>
  </div>
</div>
{% endblock %}
