{% extends "Index.html" %}

<!-- Images on homepage -->
{% block HomePage %}
<div class="container">
  <div class="row">
    <a href="http://127.0.0.1:5000/Microstrip">
      <div class=“col-sm-6”>
          <img class="Microstrip_Image" src="/static/IndexPageImageMS1.jpg">
      </div>
    </a>
    <a href="http://127.0.0.1:5000/CPW">
      <div class=“col-sm-6”>
          <img class="CPW_Image" src="/static/IndexPageImageCPW1.jpg">
      </div>
    </a>
  </div>
</div>
{% endblock %}
